<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles.css")
    body
        .app
            .app__col1
                .app__col1__a
            .app__col2
                .app__col2__a
                .app__col2__b
                .app__col2__c
            .app__col3