<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles.css")
    body
        .app
            .app__col1
                .app__col1__a
            .app__col2
                .app__col2__a 
                   h1  NEW Humans
                   h2  and Robots in
                   h3  Superscene
                .app__col2__b
                    h1  Create somehing bright and catchy
                    h2  using new Superscene charaters
                .app__col2__c
                    input(type="button", value="EXPORE ALL")
            .app__col3